<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan URL | Shorten your URLs</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/utils.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Titan URL</a></li>
            <li><a class="transition" href="#home">Home</a></li>
            <li><a class="transition" href="#features">Features</a></li>
            <li><a class="transition" href="#shorten">Shorten URL</a></li>
            <li><a class="transition" href="#about">About Us</a></li>
        </ul>
    </nav>


    <main>
        <section id="home">
            <div class="head-container">

                <h1 class="h-primary underline center" id="title">Welcome to Titan URL </h1>
    
                <p class="p-primary center" id="title-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, sit?</p>
    
                <div class="home-buttons">
                    <button class="home-button btn center transition" id="homebtn-1">
                        <h2 class="p-primary underline center"> <a href="#features">Features</a> </h2>
                    </button>
        
                    <button class="home-button btn center transition" id="homebtn-2">
                        <h2 class="p-primary underline center"><a href="#shorten">Shorten URLs</a> </h2>
                    </button>
                </div>
            </div>
        </section>

        <section id="features">
            <h1 class="h-primary underline center" id="feature-title">Why use Titan URL?</h1>
            <div class="feature1">
                <h2 class="h-secondary">FOSS</h2>
                <p class="p-secondary center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt assumenda modi dolore dolorum ad aliquid.</p>
            </div>

            <div class="feature1">
                <h2 class="h-secondary">No account needed</h2>
                <p class="p-secondary center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt assumenda modi dolore dolorum ad aliquid.</p>
            </div>

            <div class="feature1">
                <h2 class="h-secondary">Custom and random aliases</h2>
                <p class="p-secondary center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt assumenda modi dolore dolorum ad aliquid.</p>
            </div>

        </section>

        <section id="shorten">
            <h1 class="h-primary" id="shorten-title">Shorten URLs</h1>
            <h2 class="h-secondary">
                Enter a URL to shorten it
            </h2>

            <div class="form">
                <form action="/shorten" method="get">
                    <input type="text" name="original-url" id="original-url" placeholder="Enter the URL">
    
                    <input type="submit" class="btn transition" value="Shorten">
                </form>
            </div>

            <div class="result">
                <h2 class="h-secondary" id="result-url">
                    {{ URL }}
                </h2>
                <button class="btn transition" id="copyBtn">Copy</button>
            </div>
        </section>

        <section id="about">
            <h1 class="h-primary">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde blanditiis ab culpa eaque assumenda minus magni laborum, quibusdam sapiente, optio cum molestias fuga illo nostrum porro vero repellendus explicabo voluptatem aut omnis quisquam excepturi! Quod magnam similique iure sed adipisci dolore quia nesciunt eos mollitia?</p>
        </section>
    </main>


    <!-- <script src=" {{ url_for('static', filename='scripts/script.js') }} "> </script> -->
    <script src="../static/scripts/script.js"></script>
</body>

</html>