<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan URL | Shorten your URLs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/utils.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/styles/utils.css"> -->
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Titan URL</a></li>
            <li><a class="transition" href="#home">Home</a></li>
            <li><a class="transition" href="#features">Features</a></li>
            <li><a class="transition" href="#shorten">Shorten URL</a></li>
            <li><a class="transition" href="#about">About Us</a></li>
        </ul>
    </nav>


    <main>
        <section id="home">
            <div class="head-container">

                <h1 class="h-primary underline center" id="title">Welcome to Titan URL </h1>
    
                <p class="p-primary center" id="title-text">A modern URL shortener - shorten those long URLs!</p>
    
                <div class="home-buttons">
                    <button class="home-button btn center transition" id="homebtn-1">
                        <h2 class="p-primary underline center"> <a href="#features">Features</a> </h2>
                    </button>
        
                    <button class="home-button btn center transition" id="homebtn-2">
                        <h2 class="p-primary underline center"><a href="#shorten">Shorten URLs</a> </h2>
                    </button>
                </div>
            </div>
        </section>

        <section id="features">
            <h1 class="h-primary underline center" id="feature-title">Why use Titan URL?</h1>
            <div class="feature1">
                <h2 class="h-secondary">FOSS</h2>
                <p class="p-secondary center">Titan URL is completely free and open source. The source code can be found on <a href="https://github.com/Shravan-1908/titan-url" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
            </div>

            <div class="feature1">
                <h2 class="h-secondary">No account needed</h2>
                <p class="p-secondary center">You dont need to setup an account to use Titan URL. Just open the webpage and shorten the URLs.</p>
            </div>

            <div class="feature1">
                <h2 class="h-secondary">Custom and random aliases</h2>
                <p class="p-secondary center"> You can set the shortened URL aliases to custom as well as random ones. (Coming soon) </p>
            </div>

            <div class="feature1">
                <h2 class="h-secondary">Secure</h2>
                <p class="p-secondary center">All the shortened URLs are stored in an encrypted form.</p>
            </div>

        </section>

        <section id="shorten">
            
            <h1 class="h-primary underline center" id="shorten-title">Shorten URLs</h1>
            <h2 class="h-secondary">
                Enter a URL to shorten it
            </h2>

            <div class="form">
                <form action="/shorten" method="get">
                    <input type="text" name="original-url" id="original-url" placeholder="Enter the URL">
    
                    <input type="submit" class="btn transition" value="Shorten">
                </form>
            </div>

            <div class="result">
                <h2 class="h-secondary" id="result-url">
                    {{ URL }}
                </h2>
                <button class="btn transition" id="copyBtn">Copy</button>
            </div>
            {% if scroll == "yes" %}
                <script>
                    document.getElementById('result-url').scrollIntoView();
                </script>
            {% endif %}
        </section>

        <section id="about">
            <h1 class="h-primary underline center" id="about-title">About Us</h1>
            <p class="p-primary">This website is solely designed by Shravan Asati. However, since this website is open source, contribution is more than welcome, to make Titan-URL more useful. The website's source code can be found on <a href="https://github.com/Shravan-1908/titan-url" target="_blank" rel="noopener noreferrer">GitHub.</a></p>
        </section>
    </main>


    <!-- <script src=" {{ url_for('static', filename='scripts/script.js') }} "> </script> -->
    <!-- <script src="../static/scripts/script.js"></script> -->
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>