/* CSS RESET */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	border: 0;
	/* font-size: 100%; */
	scroll-behavior: smooth;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}


/*  */
/* NAVBAR */
/*  */

#navbar{
	display: flex;
	align-items: center;
	position: sticky;
	top: 0px;
	/* margin: 5px; */
	padding: 12px 31px;
}

#navbar::before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgb(177, 106, 243);
	opacity: 0.7;
	z-index: -1;
}

#navbar ul{
	display: flex;
}

#navbar ul li{
	list-style: none;
	font-size: 1.4rem;
}

#navbar ul li a {
	color: rgba(255, 0, 85, 0.808);
	display: block;
	padding: 3px 22px;
	/* border: 2px solid black; */
	border-radius: 15px;
	text-decoration: none;

}

#navbar ul li a:hover {
	border-radius: 20px;
	font-weight: bolder;
	text-decoration: underline;
	color: black;
	background: rgba(251, 255, 0, 0.918);
}


/*  */
/* HOME PAGE */
/*  */

.head-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

#home{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

#title{
	position: relative;
	top: 120px;
}

#title-text{
	position: relative;
	top: 120px;
}

#homebtn-1{
	position: relative;
	top: 150px;
}

#homebtn-2{
	position: relative;
	top: 150px;
}


/*  */
/* FEATURES PAGE */
/*  */
#features{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

#feature-title{
	position: relative;
	top: 30px;
	margin-bottom: 10px;
}



/*  */
/* Shortening page */
/*  */

#shorten{
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

#shorten-title{
	position: relative;
	top: 40px;
	margin-bottom: 40px;
}

.form{
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-content: center;
}

input[type='text'] {
	padding: 20px;
	margin: 5px;
	text-align: center;
	width: 60vw;
	height: 1.5rem;
	vertical-align: middle;
	background-color: brown;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	border-radius: 10px;
}

input[type="submit"] {
	margin-top: 0px;
	height: 3rem;
}

.result{
	display:flex;
	justify-content: center;
}

.result h2 {
	display: inline-block;
	margin-right: 15px;
}

.result button {
	margin-top: 22px;
	height: 2.5rem;
}