/* utility classes */
* {
    color: white;
}

.transition{
    transition: all 0.3s ease-in-out 0s;
}

.center{
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

/* .h-secondary{
    font-size: 2vh;
    padding: 20px 10px;
    margin: 5px;
    text-align: center;
} */

.p-primary{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 5px;
}

.p-secondary{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding: 7.5px 5px;
}

.btn{
    border-radius: 10px;
    padding: 6px 20px;
    margin: 5px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 16px;
    /* width: 150px; */
    cursor:pointer; 
    font-size: 1.3rem;
}

.btn:hover{
    background-color: tomato;
    font-weight: bolder;
    border-radius: 15px;
    border-style: groove;
}

.link{
    text-decoration: underline;
}